<% form_for @user, :url => update_password_user_url(@user) do |f| %>
  <%= f.error_messages %>
  <% if params[:code] %>
    <p>
      <%= hidden_field_tag :code, params[:code] %>
    <% else %>
      <b>Current Password</b>
      <%= password_field_tag :password -%>
    </p>
  <% end %>

  <p>
    Please enter your new password
  </p>
  <p>
    <b>New Password</b><br />
    <%= password_field_tag :password1 %>
  </p>

  <p>
    <b>Verify new password</b><br />
    <%= password_field_tag :password2 %>
  </p>

  <%= f.submit "Submit New Password" %>
<% end %>
