

<% form_tag :action => "password_enter_new"  do %>
  <p>Please enter your new password.
  </p>
  <%= hidden_field_tag :forgot_password_code, 
    params[:forgot_password_code]%>
  <%= hidden_field_tag :id, 
    params[:id]%>
  <p>
    <b>New Password</b><br />
    <%= password_field_tag :password1 %>
  </p>
  <p>
    <b>Verify new password</b><br />
    <%= password_field_tag :password2 %>
  </p>

          <%= submit_tag "Submit New Password" %>
  <% end %>
  
