<h1>Register</h1>
<%
url_for_opts = {:protocol => "https"} if Azimux::AxUser.ssl_enabled?
url_for_opts ||= {}
%>
<%= error_messages_for :user, :object_name => "",
  :header_message => "Some errors occured while trying to register:" %>

<% form_for(:user, @user, :url => url_for_opts.merge(:action => :signup)) do |f| %>
  <p>
    <b>Username</b><br />
    <%= f.text_field :username %>
  </p>

  <p>
    <b>E-mail address</b><br />
    <%= f.text_field :email %>
  </p>

  <p>
    <b>Password</b><br />
    <%= password_field_tag :password1 %>
  </p>

  <p>
    <b>Verify password</b><br />
    <%= password_field_tag :password2 %>
  </p>

  <% Azimux::AxUser.additional_registration_models.each do |model| %>
    <% model = model.name.underscore
    fields_for model do |builder| -%>
      <%= render :partial  => "#{model.pluralize}/fields_for",
        :locals => {:builder => builder} -%>
    <% end %>
  <% end -%>

  <p>
    <%= f.submit "Register" %>
  </p>
<% end %>
