<h1>Register</h1>

<%= error_messages_for :user, :object_name => "", 
  :header_message => "Some errors occured while trying to register:" %>

<% form_for(:user, @user, :url => {:action => :signup}) do |f| %>
  <p>
    <b>Username</b><br />
    <%= f.text_field :username %>
  </p>

  <p>
    <b>E-mail address</b><br />
    <%= f.text_field :email %>
  </p>

  <p>
    <b>Password</b><br />
    <%= password_field_tag :password1 %>
  </p>
<p>
    <b>Verify password</b><br />
    <%= password_field_tag :password2 %>
  </p>

  <p>
    <%= f.submit "Register" %>
  </p>
<% end %>
